
h1 {
text-align: center;
text-transform: uppercase;
text-justify: auto;
background-color: blue;
color: white;
border-radius: 5px;
padding: 20px;
}

input[type="text"]{
    background-color: lightblue;
    color: black;
    box-shadow: none;
    text-align: center;
    border-style: none;
    height: 40px;
    width: 400px;
    cursor: pointer;
}
input[type="submit"]{
    background-color: blue;
    color: white;
    height: 40px;
    width: 400px;
    text-decoration: darkturquoise ;
    border-style: none;
    cursor: pointer;
}

button {
    background-color: blue;
    color: white;
    height: 40px;
    width: 400px;
    text-decoration: darkturquoise ;
    border-style: none;
    cursor: pointer;
}

input:hover {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .login {
      float: none;
    }
}
